name: Profile-3D-Contrib

on:
  schedule:
    - cron: "0 18 * * *" # 每天18:00 UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ github.token }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          echo "$(date)" > last_update.txt
          git add -A .
          git commit -m "generated $(date '+%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push
